body{
  background-color:grey;
}
.main-page.cards{
  max-height:300px;
  margin-bottom:10px;
}

.card-images{
  object-fit: cover;
  max-height:200px;
}

.rocket{
  min-width:100%;
}

.article-image{
  min-width:200px;
  max-height: 600px;
}

.nav-link{
  text-decoration: none;
  color:white;
}

.nav-link:hover{
  color:grey;
}